{% extends "base.html" %}
{% import "_brand.html" as brand %}
{% block title %}{{ _("Sign-in link unavailable") }}{% endblock %}
{% block scripts %}{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
<div class="sign-in">
<div class="lockup">
  {{ brand.mark(88, "mark-sign-in") }}
  <p class="lockup-wordmark">{{ brand.wordmark() }}</p>
  <p class="lockup-tagline">{{ _("Track less. Understand more.") }}</p>
</div>
<div class="form card">
  <h1 class="card-title">{{ _("Sign-in link unavailable") }}</h1>
  <p>{{ _("This sign-in link cannot be used. It may have expired or been used already. Request a new link to continue.") }}</p>
  <a class="button button-wide" href="/sign-in">{{ _("Get a new sign-in link") }}</a>
</div>
</div>
{% endblock %}
